.header-index{
    margin-bottom: 680px !important;
}

.header-row-content{
    padding: 5px 20px 5px 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.badge-primary{
    color: #3880ff;
    background-color: #3880ff1d;
}

.badge-warning{
    background-color: #ffc6091d;
    color: #ffc409;
}

.badge-danger{
    color: #cf3c4f;
    background-color: #cf3c4f1d;

}

